* {
    padding: 0%;
    margin: 0%;
}

body {
    background-color: #00224D;
}

nav {
    background-color: #FF204E;
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    height: 9vh;
}

/* .nav{
    background-color: #FF204E;
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    height: 9vh;
} */
h1 {
    font-family: "Fondamento", cursive;
    font-size: 40px;
}

/*aniamation for menu icon*/
.menu-icon {
    display: inline-block;
    cursor: pointer;
    margin-right: 20px;
}

.bar-1,
.bar-2,
.bar-3 {
    background-color: white;
    width: 35px;
    height: 5px;
    margin: 6px 0px;
    transition: 0.4s;
}

.change .bar-1 {
    transform: translate(0, 11px) rotate(-45deg);
}

.change .bar-2 {
    opacity: 0;
}

.change .bar-3 {
    transform: translate(0, -11px) rotate(45deg);
}

/* animation for menu icon end*/
/*animation for sub-menu*/
.sub-menu-wrap {
    position: absolute;
    top: 100%;
    width: 320px;
    right: 1%;
    max-height: 0px;
    overflow: hidden;
    transition: 0.4s;
}

.sub-menu-open {
    max-height: 200px;
}

.sub-menu {
    background-color: whitesmoke;
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
}

.sub-menu a {
    text-decoration: none;
    font-size: 2rem;
    color: black;
    display: block;
}

/*animation for submenu end*/


/*about section start*/
.container-1 {
    display: flex;
    height: 91vh;
    justify-content: center;
    align-items: center;
    background-size: 100% 100%;
}

.about {
    color: white;
    width: 90%;
    background-image: url(./Images/vit1.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 24px;
    transition: 0.4s;
}

.title {
    font-size: 3rem;
    color: white;
}

.body {
    width: 60%;
    font-size: 2rem;
}

.content {
    padding-top: 6%;
    padding-bottom: 8%;
    padding-left: 5%;
}

.about:hover {
    border: 6px solid white;
    transition: 0.4s;
}

/*about section end*/

/*donate now section start*/
.container-2 {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.donate_now {
    width: 90%;
    background-image: url(./Images/trust1.png);
    background-size: 100% 100%;
    border-radius: 24px;
    transition: 0.4s;
}

.form {
    width: 50%;
}

.donate_now form {
    text-align: center;
}

.donate_now input {
    border-radius: 10px;
    border: none;
    width: 100%;
    height: 50px;
    margin-top: 30px;
}

.donate_now button {
    margin-top: 25px;
    width: 100px;
    height: 60px;
    border-radius: 10px;
    background-color: #A0153E;
    font-size: x-large;
    color: white;
    transition: 0.4s;
}

.donate_now button:hover {
    transition: 0.3s;
    background-color: azure;
    color: black;
}

.donate_now:hover {
    border: 6px solid white;
    transition: 0.4s;
}

/*donate now section end*/

/*Claim money section start*/
.container-3 {
    display: flex;
    height: 90vh;
    justify-content: center;
    align-items: center;
}

.claim_money {
    width: 90%;
    background-image: url(./Images/claim1.jpg);
    background-size: 100% 100%;
    border-radius: 24px;
    transition: 0.4s;
}

.form {
    width: 50%;
}

.claim_money form {
    text-align: center;
}

.claim_money input {
    border-radius: 10px;
    border: none;
    width: 100%;
    height: 30px;
    margin-top: 30px;
}

.claim_money button {
    margin-top: 25px;
    width: 100px;
    height: 30px;
    border-radius: 10px;
    background-color: #A0153E;
    font-size: x-large;
    color: white;
    transition: 0.4s;
}

.claim_money button:hover {
    transition: 0.3s;
    background-color: azure;
    color: black;
}

.claim_money:hover {
    border: 6px solid white;
    transition: 0.4s;
}

/*Claim money section end*/
footer {
    text-align: right;
    font-size: xx-large;
    color: aliceblue;
    font-family: "Condiment", cursive;
    margin-right: 20px;
}